<footer class="lg:invisible footer footer-center p-5 bg-base-200 text-base-content w-screen sticky bottom-0">
  <div class="grid grid-flow-col gap-10">
    <%= link_to "ã‚¿ã‚¤ãƒ ãƒ©ã‚¤ãƒ³", posts_path %>
    <%= link_to "æ„›æ€¥ä¸Šæ˜‡", ai_boosting_posts_path %>
    <%= link_to "ãƒ„ãƒ³ãƒ‡ãƒ¬æ€¥ä¸Šæ˜‡", tundere_boosting_posts_path %>
    <div class="post-btn bg-pink-300">
    <% if current_user.guest? %>
      <%= link_to '#', data: { turbo_method: "get",
      turbo_confirm: "ã”ã‚ã‚“ã­ï¼\r\nä¼šå“¡ç™»éŒ²ã—ãªã„ã¨æŠ•ç¨¿ã§ããªã„ã‚“ã ðŸ¥²"} do %>
      <i class="fa-regular fa-plus"></i>
    <% end %>
    <% else %>
      <%= link_to character_set_posts_path do %>
        <i class="fa-regular fa-plus"></i>
      <% end %>
    <% end %>
    </div>
  </div>
</footer>