<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <%= link_to image_tag('logo.png', size: '200x100'), root_path %>
    <div class="flex-none md:mr-0 md:ml-auto">
      <ul class="menu menu-horizontal px-1">
        <% unless current_user.guest? %>
        <li tabindex="0">
          <a class="btn btn-square btn-ghost">
           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
          </a>
          <ul class="p-2 bg-base-100 z-50">
           <li><%= link_to '公開した投稿一覧♡', my_publishpost_profile_path %></li>
           <li><%= link_to '非公開の投稿一覧♡', my_archivepost_profile_path %></li>
           <li><%= link_to '下書き中の投稿一覧♡', my_draftpost_profile_path %></li>
           <li><%= link_to 'ブックマークした投稿一覧♡', my_bookmarkpost_profile_path %></li>
          </ul>
        </li>
        <% end %>
        <li><%= link_to 'ログアウト', logout_path, class: 'dropdown-item', data: { turbo_method: :delete } %></li>
        <% if current_user.guest? %>
          <li><%= link_to '会員登録♡', new_user_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
