<% set_meta_tags title: t('.title') %>
<section class="text-gray-600 body-font mb-5">
  <p class="mb-5 text-center text-xl text-black-200 opacity-90 underline decoration-pink-300 decoration-5"><%= t '.title' %></p>
  <div class="container my-1 mx-auto flex flex-col px-5 justify-center items-center">
    <div class="lg:container lg:flex lg:flex-wrap lg:justify-center lg:items-center">
    <div class="card border mt-5 card-bordered border-pink-300 lg:mx-3 lg:my-3">
      <figure class="px-6 mt-5">
        <%= image_tag '1.png', size: '400x300' %>
      </figure>
      <div class="items-center text-center my-3">
        <p class="text-xl">ツンデレガール (いらすとや)</p>
        <%= button_to "これにする", new_post_path, { method: :get, params: {character_id: 1}, class: "my-3 mb-1 btn btn-outline btn-secondary" } %>
      </div>
    </div>
    <div class="card border mt-5 card-bordered border-pink-300 lg:mx-3 lg:my-3">
      <figure class="px-6 mt-5">
        <%= image_tag '2.png', size: '400x300'  %>
      </figure>
      <div class="items-center text-center my-3">
        <p class="text-xl">ツンデレボーイ (いらすとや)</p>
        <%= button_to "これにする", new_post_path, { method: :get, params: {character_id: 2}, class: "my-3 mb-1 btn btn-outline btn-secondary" } %>
      </div>
    </div>
    <div class="card border mt-5 card-bordered border-pink-300 lg:mx-3 lg:my-3">
      <figure class="px-6 mt-5">
        <%= image_tag '3.png', size: '400x300'  %>
      </figure>
      <div class="items-center text-center my-3">
        <p class="text-xl">黒髪の女の子 (照れ)</p>
        <%= button_to "これにする", new_post_path, { method: :get, params: {character_id: 3}, class: "my-3 mb-1 btn btn-outline btn-secondary" } %>
      </div>
    </div>
    <div class="card border mt-5 card-bordered border-pink-300 lg:mx-3 lg:my-3">
      <figure class="px-6 mt-5">
        <%= image_tag '4.png', size: '400x300'  %>
      </figure>
      <div class="items-center text-center my-3">
        <p class="text-xl">派手髪の女の子 (照れ)</p>
        <%= button_to "これにする", new_post_path, { method: :get, params: {character_id: 4}, class: "my-3 mb-1 btn btn-outline btn-secondary" } %>
      </div>
    </div>
    <div class="card border mt-5 card-bordered border-pink-300 lg:mx-3 lg:my-3">
      <figure class="px-6 mt-5">
        <%= image_tag '5.png', size: '400x300'  %>
      </figure>
      <div class="items-center text-center my-3">
        <p class="text-xl">お嬢様 (怒)</p>
        <%= button_to "これにする", new_post_path, { method: :get, params: {character_id: 5}, class: "my-3 mb-1 btn btn-outline btn-secondary" } %>
      </div>
    </div>
    <div class="card border mt-5 card-bordered border-pink-300 lg:mx-3 lg:my-3">
      <figure class="px-6 mt-5">
        <%= image_tag '6.png', size: '400x300'  %>
      </figure>
      <div class="items-center text-center my-3">
        <p class="text-xl">スケバン (怒)</p>
        <%= button_to "これにする", new_post_path, { method: :get, params: {character_id: 6}, class: "my-3 mb-1 btn btn-outline btn-secondary" } %>
      </div>
    </div>
    <div class="card border mt-5 card-bordered border-pink-300 lg:mx-3 lg:my-3">
      <figure class="px-6 mt-5">
        <%= image_tag '7.png', size: '400x300'  %>
      </figure>
      <div class="items-center text-center my-3">
        <p class="text-xl">感涙している女の子</p>
        <%= button_to "これにする", new_post_path, { method: :get, params: {character_id: 7}, class: "my-3 mb-1 btn btn-outline btn-secondary" } %>
      </div>
    </div>
    <div class="card border mt-5 card-bordered border-pink-300 lg:mx-3 lg:my-3">
      <figure class="px-6 mt-5">
        <%= image_tag '8.png', size: '400x300'  %>
      </figure>
      <div class="items-center text-center my-3">
        <p class="text-xl">トキめきしている女の子</p>
        <%= button_to "これにする", new_post_path, { method: :get, params: {character_id: 8}, class: "my-3 mb-1 btn btn-outline btn-secondary" } %>
      </div>
    </div>
    <div class="card border mt-5 card-bordered border-pink-300 lg:mx-3 lg:my-3">
      <figure class="px-6 mt-5">
        <%= image_tag '9.png', size: '400x300'  %>
      </figure>
      <div class="items-center text-center my-3">
        <p class="text-xl">黒髪の女の子 (笑顔)</p>
        <%= button_to "これにする", new_post_path, { method: :get, params: {character_id: 9}, class: "my-3 mb-1 btn btn-outline btn-secondary" } %>
      </div>
    </div>
    <div class="card border mt-5 card-bordered border-pink-300 lg:mx-3 lg:my-3">
      <figure class="px-6 mt-5">
        <%= image_tag '10.png', size: '400x300'  %>
      </figure>
      <div class="items-center text-center my-3">
        <p class="text-xl">派手髪の女の子 (笑顔)</p>
        <%= button_to "これにする", new_post_path, { method: :get, params: {character_id: 10}, class: "my-3 mb-1 btn btn-outline btn-secondary" } %>
      </div>
    </div>
    </div>
  </div>
</section>