<% content_for(:title, t('.title')) %>
<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= @post.id %>">
    <%= @post.status %>中♡
    <%= image_tag @post.post_image_url, class: 'card-img-top', size: '600x400' %>
    <div class="card">
        <p class="card-text"><%= @post.sendername %></p>
        <p class="card-text"><%= @post.body %></p>
        <% if @post.draft? %>
          <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}" do %>
            <i class="fa-sharp fa-solid fa-pen"></i>
            文字の再編集をする♡？
          <% end %>
        <% end %>
        <%= form_with model: @post, url: status_update_post_path(@post), local: true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <% if @post.draft? %>
            <%= f.submit class: 'btn btn-primary', value: '非公開にする' %>
            <%= f.submit class: 'btn btn-primary', value: '公開する' %>
          <% elsif @post.archive? %>
            <%= f.submit class: 'btn btn-primary', value: '公開する' %>
          <% elsif @post.publish?  %>
            <%= f.submit class: 'btn btn-primary', value: '非公開にする' %>
          <% end %>
        <% end %>
        <%= link_to post_path(@post), id: "button-delete-#{@post.id}", data: { "turbo-method": :delete, "turbo-confirm": '本当に削除しますか？' } do %>
          <i class="fa-sharp fa-solid fa-trash"></i>
          投稿を削除しますか？
        <% end %>
        <%= link_to '#' do %>
          <i class="fa-brands fa-twitter"></i>
          ツイッターでシェアする？
        <% end %>
        <%= link_to '#' do %>
          <i class="fa-brands fa-line"></i>
          LINEでシェアする？
        <% end %>
    </div>
  </div>
</div>