<% set_meta_tags title: t('.title') %>
<section class="text-gray-600 body-font">
  <div class="container my-1 mb-5 mx-auto flex flex-col px-5 justify-center items-center">
    <p class="text-center text-xl text-black-200 opacity-90"><%= t '.title' %></p>
    <p class="mt-5 underline decoration-orange-300 decoration-5 text-center text-xl text-black-200 opacity-90"><%= @post.status_i18n %>中♡</p>
    <div class="card border mt-5 card-bordered border-pink-300">
      <div class="overflow-hidden">
        <div class="card-body p-0 mt-5">
          <div class="flex">
          <p class="text-xl pl-7">To:<%= @post.sendername.truncate(15) %>へ</p>   
          <% unless current_user.guest? || @post.draft? %>
            <div class="flex justify-end mx-7">
              <%= render 'actions/download_button', { post: @post } %>
            </div>
          <% end %>
          </div>
        </div>
        <figure class="px-6">
          <%= image_tag @post.post_image_url, class: 'my-1', size: '400x300' %>
        </figure>
        <div class="items-center text-center my-3">
          <div class="row">
            <% if current_user.tun?(@post) %>
              <%= render 'actions/untun', { post: @post } %>
            <% else %>
              <%= render 'actions/tun', { post: @post } %>
            <% end %>
            <% if current_user.ai?(@post)%>
              <%= render 'actions/unai', { post: @post } %>
            <% else %>
              <%= render 'actions/ai', { post: @post } %>
            <% end %>
            <% if current_user.dere?(@post) %>
              <%= render 'actions/undere', { post: @post } %>
            <% else %>
              <%= render 'actions/dere', { post: @post } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center items-center flex flex-col">
      <div>
        <% if @post.draft? %>
          <%= link_to '文字の再編集',
            edit_post_path(@post), class:'w-60 btn btn-outline mt-2 mb-1', id: "button-edit-#{@post.id}" %>
        <% end %>
      </div>
      <%= form_with model: @post, url: status_update_post_path(@post), local: true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <% if @post.draft? %>
            <div>
              <%= f.submit class: 'w-60 btn btn-outline my-1', value: '非公開にする' %>
            </div>
            <div>
              <%= f.submit class: 'w-60 btn btn-outline my-1', value: '公開する' %>
            </div>
          <% elsif @post.archive? %>
            <div>
              <%= f.submit class: 'w-60 btn btn-outline my-2', value: '公開する' %>
            </div>
          <% elsif @post.publish?  %>
            <div>
              <%= f.submit class: 'w-60 btn btn-outline my-2', value: '非公開にする' %>
            </div>
          <% end %>
      <% end %>
      <div>
        <%= link_to '投稿を削除',
          post_path(@post), id: "button-delete-#{@post.id}", class:'w-60 btn btn-outline my-1',
          data: { "turbo-method": :delete, "turbo-confirm": '本当に削除しますか？' } %>
      </div>
      <div>
        <% if @post.archive? || @post.publish? %>
          <%= link_to "https://twitter.com/share?url=https://www.tun-ari.com/posts/#{@post.id}/tweet/&text=#{@post.sendername}さんへ",
            title: 'Twitter', target: '_blank', class: 'w-60 btn btn-outline my-1 bg-sky-500 hover:bg-sky-400 hover:border-white text-white' do %>
            <i class="fa-brands fa-twitter fa-lg px-1"></i>Twitterにシェア<i class="fas fa-external-link-alt px-1"></i>
          <% end %>
        <% end %>
      </div>
      <div>
        <% if @post.archive? || @post.publish? %>
          <%= link_to "http://line.me/R/msg/text/?#{@post.sendername}さんへ%0ahttps://www.tun-ari.com/posts/#{@post.id}/tweet/",
            target: '_blank', class:'w-60 btn btn-outline my-1 bg-green-500 hover:bg-green-400 hover:border-white text-white' do %>
            <svg class="mr-2 -ml-1 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-line" viewBox="0 0 16 16"> <path d="M8 0c4.411 0 8 2.912 8 6.492 0 1.433-.555 2.723-1.715 3.994-1.678 1.932-5.431 4.285-6.285 4.645-.83.35-.734-.197-.696-.413l.003-.018.114-.685c.027-.204.055-.521-.026-.723-.09-.223-.444-.339-.704-.395C2.846 12.39 0 9.701 0 6.492 0 2.912 3.59 0 8 0ZM5.022 7.686H3.497V4.918a.156.156 0 0 0-.155-.156H2.78a.156.156 0 0 0-.156.156v3.486c0 .041.017.08.044.107v.001l.002.002.002.002a.154.154 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157Zm.791-2.924a.156.156 0 0 0-.156.156v3.486c0 .086.07.155.156.155h.562c.086 0 .155-.07.155-.155V4.918a.156.156 0 0 0-.155-.156h-.562Zm3.863 0a.156.156 0 0 0-.156.156v2.07L7.923 4.832a.17.17 0 0 0-.013-.015v-.001a.139.139 0 0 0-.01-.01l-.003-.003a.092.092 0 0 0-.011-.009h-.001L7.88 4.79l-.003-.002a.029.029 0 0 0-.005-.003l-.008-.005h-.002l-.003-.002-.01-.004-.004-.002a.093.093 0 0 0-.01-.003h-.002l-.003-.001-.009-.002h-.006l-.003-.001h-.004l-.002-.001h-.574a.156.156 0 0 0-.156.155v3.486c0 .086.07.155.156.155h.56c.087 0 .157-.07.157-.155v-2.07l1.6 2.16a.154.154 0 0 0 .039.038l.001.001.01.006.004.002a.066.066 0 0 0 .008.004l.007.003.005.002a.168.168 0 0 0 .01.003h.003a.155.155 0 0 0 .04.006h.56c.087 0 .157-.07.157-.155V4.918a.156.156 0 0 0-.156-.156h-.561Zm3.815.717v-.56a.156.156 0 0 0-.155-.157h-2.242a.155.155 0 0 0-.108.044h-.001l-.001.002-.002.003a.155.155 0 0 0-.044.107v3.486c0 .041.017.08.044.107l.002.003.002.002a.155.155 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156Z" /></svg>LINEにシェア<i class="fas fa-external-link-alt px-1"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>