<% content_for(:title, t('.title')) %>
<section class="text-gray-600 body-font">
  <div class="container my-1 mb-5 mx-auto flex flex-col px-5 justify-center items-center">
    <p class="text-center text-xl text-black-200 opacity-90"><%= t '.title' %></p>
    <p class="mt-5 underline decoration-orange-300 decoration-5 text-center text-xl text-black-200 opacity-90"><%= @post.status_i18n %>中♡</p>
    <div class="card border mt-5 card-bordered border-pink-300">
      <div class="overflow-hidden">
        <div class="card-body p-0 mt-5">
          <div class="flex">
          <p class="text-xl pl-7">To:<%= @post.sendername %>へ</p>
            <!-- <div class="flex mr-7">
              <% if current_user.own?(@post) %>
                <%= render 'posts/crud_menus', { post: @post } %>
              <% else %>
                <%= render 'actions/bookmark_button', { post: @post } %>
              <% end %>
              <div class="flex justify-end mx-3">
                <% if current_user.own?(@post) %>
                  <%= render 'posts/crud_menus', { post: @post } %>
                <% else %>
                  <%= render 'actions/bookmark_button', { post: @post } %>
                <% end %>
              </div> 
            </div> -->
          </div>
        </div>
        <figure class="px-6">
          <%= image_tag @post.post_image_url, class: 'my-1', size: '400x300' %>
        </figure>
        <div class="items-center text-center my-3">
          <div class="row">
            <% if current_user.tun?(@post) %>
              <%= render 'actions/untun', { post: @post } %>
            <% else %>
              <%= render 'actions/tun', { post: @post } %>
            <% end %>
            <% if current_user.ai?(@post)%>
              <%= render 'actions/unai', { post: @post } %>
            <% else %>
              <%= render 'actions/ai', { post: @post } %>
            <% end %>
            <% if current_user.dere?(@post) %>
              <%= render 'actions/undere', { post: @post } %>
            <% else %>
              <%= render 'actions/dere', { post: @post } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center items-center">
      <% if @post.draft? %>
        <%= link_to '文字の再編集をしますか？',
        edit_post_path(@post), class:'w-full btn btn-outline btn-secondary my-1', id: "button-edit-#{@post.id}" %>
      <% end %>
      <%= form_with model: @post, url: status_update_post_path(@post), local: true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <% if @post.draft? %>
            <%= f.submit class: 'w-full btn btn-outline btn-info my-1', value: '非公開にする' %>
            <%= f.submit class: 'w-full btn btn-outline btn-info my-1', value: '公開する' %>
          <% elsif @post.archive? %>
              <%= f.submit class: 'w-full btn btn-outline btn-info my-1', value: '公開する' %>
          <% elsif @post.publish?  %>
              <%= f.submit class: 'w-full btn btn-outline btn-info my-1', value: '非公開にする' %>
          <% end %>
      <% end %>
      <%= link_to '投稿を削除しますか？',
        post_path(@post), id: "button-delete-#{@post.id}", class:'w-full btn btn-outline btn-primary my-1',
        data: { "turbo-method": :delete, "turbo-confirm": '本当に削除しますか？' } %>
        <!-- <%= link_to '#' do %>
          <i class="fa-brands fa-twitter"></i>
          ツイッターでシェアする？
        <% end %>
        <%= link_to '#' do %>
          <i class="fa-brands fa-line"></i>
          LINEでシェアする？
        <% end %> -->
    </div>
  </div>
</section>