<% content_for(:title, t('.title')) %>
<div class="flex justify-center w-screen items-center">
  <div class="w-full md:w-1/2 flex flex-col items-center " >
    <h1 class="text-center text-2xl font-bold text-pink-300 mb-6"><%= t('.title') %></h1>
    <div class="w-3/4 mb-6">
      <%= form_with url: login_path, local: true do |f| %>
        <%= f.label :email, User.human_attribute_name(:email), class: "label" %>
        <%= f.email_field :email, class: "w-full p-5 input input-bordered rounded", placeholder: "email" %>
        <%= f.label :password, User.human_attribute_name(:password), class: "label" %>
        <%= f.password_field :password, class: "w-full p-5 input input-bordered rounded", placeholder: "password" %>
        <div class="py-5">
          <%= f.submit t('defaults.login'), class: "btn btn btn-outline btn-secondary py-5 w-full rounded" %>
        </div>
      <% end %>
      <div class="text-center">
        <%= link_to '新規ユーザー登録はこちら', new_user_path, class: "font-bold text-pink-300" %>
      </div>
    </div>
  </div>
</div>